.App {
  text-align: center;
}
html .swiper-pagination-bullet-active {
  background: #a10550;
  border: 1px solid #f50779;
}
html .swiper-pagination-bullet {
  border-radius: 0;
  width: 24px;
  height: 4px;
}
html .swiper-container {
  position: relative;
}
html .swiper-button-prev,
html .swiper-button-next {
  color: #fff;
  background: rgba(12, 12, 12, 0.4);
  opacity: 1;
  margin-top: 0;
  top: 0;
  height: 100%;
  bottom: 0;
  padding: 3rem;
}
html .swiper-button-prev {
  left: 0;
}
html .swiper-button-next {
  right: 0;
}
